# HTTP requests and API interaction
requests
openai
Anthropic

# Image and video processing
Pillow
moviepy
diffusers
depthflow
transformers

# Text-to-Speech
edge-tts
gTTS

# Environment and configuration
python-dotenv

# Web framework and templating
fastapi
uvicorn
jinja2

# Machine learning model deployment
replicate

# Infrastructure as Code
pulumi>=3.0.0,<4.0.0
pulumi-aws>=6.0.2,<7.0.0

# Google API integration
google-auth-oauthlib==0.4.6
google-api-python-client==2.47.0

#torch
torch==2.5.0 --index-url https://download.pytorch.org/whl/cu121


python-arango
docker