requests
Pillow
langchain
moviepy
python-dotenv
edge-tts
gTTS
openai
transformers
accelerate
safetensors
diffusers
langchain-openai
langchain-anthropic
opencv-python

sentencepiece
langchain-community
xformer
accelerate
bitsandbytes