requests
Pillow
langchain
moviepy
python-dotenv
edge-tts
gTTS
openai
transformers
accelerate
safetensors
diffusers
langchain-openai
langchain-anthropic
opencv-python

sentencepiece
langchain-community
xformer
accelerate
bitsandbytes

fastapi
uvicorn
jinja2

*You seem to be using an outdated version of Cursor. Please upgrade to the latest version by [downloading Cursor again from our website](https://www.cursor.com/). All your settings will be preserved.*
