{% include 'components/head.html' %}
<body class="bg-gradient-to-br from-gray-100 to-gray-200 min-h-screen">
    {% include 'components/navbar.html' %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-8 text-center text-gray-800">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-blue-500">
                VIDEO PRODUCTION
            </span>
        </h1>
        <div class="mb-8 text-center">
            <a href="/create/serie" class="bg-gradient-to-r from-purple-600 to-blue-500 hover:from-purple-700 hover:to-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 inline-flex items-center">
                <i class="fas fa-plus-circle mr-2"></i>
                Create New Serie
            </a>
        </div>
    </div>

        {% if series_data %}
            <div class="mt-12 mx-8">
                <h2 class="text-2xl font-semibold mb-4 text-gray-700 border-b pb-2">
                    <i class="fas fa-list-alt mr-2"></i>Series
                </h2>
                {% for serie_data in series_data %}
                    {% include 'components/serie_production_progress.html' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
