<nav class="fixed w-full flex justify-between p-4">
    <!-- Left side - Home button -->
    <div>
        <a href="{{ url_for('index') }}" class="bg-white rounded-full p-4 shadow-lg hover:bg-purple-100 transition duration-200">
            <i class="fa-solid fa-house text-xl text-gray-700 hover:text-purple-600"></i>
        </a>
    </div>
            
    <!-- Right side - Settings button -->
    <div>
        <a href="{{ url_for('index') }}" class="bg-white rounded-full p-4 shadow-lg hover:bg-purple-100 transition duration-200">
            <i class="fa-solid fa-gear text-xl text-gray-700 hover:text-purple-600"></i>
        </a>
    </div>
</nav>
